@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto');

$black: #404040;
$blue: #26377c;
$semitparent: rgba(38, 55, 124, 0.7);
$tparent: rgba(0, 0, 0, 0);

$mont: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;

$navh: 15vh;

%body-text {
	font-family: $mont;
	font-size: 18px;
	line-height: 30px;
}

%header {
	font-family: $roboto;
	font-size: 60px;
}

%container {
	padding: 5vh 10vw;
	width: 100vw;

	h2 {
		@extend %header;
		padding: 2vh 0 4vh;
		text-align: center;
	}

	h3 {
		margin-top: 3vh;
		font-family: $roboto;
		font-size: 40px;
	}

	a,
	i,
	p {
		@extend %body-text;
	}
}

%blue {
	@extend %container;
	background-color: $blue;

	* {
		color: #ffffff;
	}
}

%white {
	@extend %container;
	background-color: #ffffff;

	* {
		color: $black;
	}
}
