@import 'vars';

.blue {
	@extend %blue;
}

.captcha {
	display: inline-block;
}

.center {
	text-align: center;
}

.email {
	display: block;
	margin-top: 3vh;
}

@media (max-width: 400px) {
	.blue {
		padding: 5vh 2vw;
	}
}
