@import 'vars';

$fixh: 55vh;

%body {
	font-family: $mont;
	font-size: 18px;
	line-height: 30px;
}

%header {
	font-family: $roboto;
	font-size: 8vmin;
	font-weight: bold;
	margin-bottom: 4vh;
	text-align: center;
}

.blue {
	background-color: $blue;
	padding: 5vh 10vw;
}

.blue h2 {
	@extend %header;
	color: #ffffff;
}

.blue p {
	@extend %body;
	color: #ffffff;
}

.carouselImage {
	height: $fixh;
}

.banner {
	background-position: right top;
	background-position-x: 100%;
	background-position-y: 0%;
	background-size: cover;
	display: flex;
	height: $fixh;
	top: $navh;
	width: 100vw;
	z-index: -1;
}

.content {
	margin-top: $fixh + $navh;
	position: absolute;
	top: 0;
}

.desc {
	color: white;
	font-family: $mont;
	font-size: 3vmin;
	margin-top: 1.5vh;
}

.gradient {
	background: linear-gradient(to right, $semitparent, $tparent);
	height: $fixh;
	width: 10vw;
}

.initial {
	align-items: center;
	animation-delay: 1.5s;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-name: fade;
	background-color: $blue;
	display: flex;
	height: 100vh;
	justify-content: center;
	position: fixed;
	width: 100vw;
}

.initialText {
	@extend %header;
	animation-delay: 1.5s;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-name: fade;
	color: white;
	text-align: center;
	width: 60vw;
}
.logo {
	display: block;
	margin: 0 auto;
	width: 35vmin;
}
.title {
	color: #ffffff;
	font-family: $roboto;
	font-size: 10vmin;
	font-weight: bold;
}
.titleContainer {
	background: linear-gradient(to right, $blue, $semitparent);
	display: flex;
	flex-direction: column;
	height: $fixh;
	justify-content: center;
	padding-left: 5vw;
	max-width: 50vw;
}
.white {
	background-color: #ffffff;
	padding: 5vh 10vw;

	h2 {
		@extend %header;
		color: $black;
	}

	h3 {
		margin-top: 3vh;
		color: $black;
		font-family: $roboto;
		font-size: 40px;
	}

	@mixin description {
		@extend %body;
		color: $black;
	}

	a > p,
	i {
		@include description;
		line-height: 5vh;
	}

	p {
		@include description;
	}
}

@keyframes fade {
	0% {
		opacity: 1;
	}
	100% {
		display: none;
		opacity: 0;
		z-index: -10;
	}
}

@media (max-width: 576px) {
	.fixed {
		background-position: center;
	}
}
