@import 'vars';

.content {
	display: flex;
}

.link {
	color: $blue;
}

.navBar {
	@extend %body-text;

	border-right: 5px solid $blue;
	height: 80vh;
	margin: 5vh 0;
	overflow-y: scroll;
	padding: 0 5vw;
	position: -webkit-sticky;
	position: sticky;
	top: $navh;
	width: 30vw;

	&::-webkit-scrollbar {
		-webkit-appearance: none;
		width: 7px;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 4px;
		background-color: rgba(0, 0, 0, 0.5);
		box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
	}

	.indent {
		margin: 5px;
	}
}

.programImg {
	border-radius: 15px;
	height: 30px;
	width: 30px;
}

.projects {
	flex: 1;
}

.selectedSkill {
	background-color: $blue;
	color: white;
}

.skill {
	cursor: pointer;
	padding-left: 5px;
	width: 100%;

	&:hover {
		background-color: gray;
		opacity: 0.5;
	}
}

.title {
	@extend %blue;
}

.unselectedSkill {
	background-color: none;
	color: $black;
}
