@import 'vars';

.content {
	display: flex;
}

.navBar {
	border-right: 5px solid $blue;
	height: 200px;
	margin: 5vh 0;
	padding: 0 5vw;
	position: -webkit-sticky;
	position: sticky;
	top: $navh;
}

.projects {
	flex: 1;
}

.title {
	@extend %blue;
}
